@import url('https://fonts.googleapis.com/css2?family=Borel&family=Farsan&display=swap');

/*body*/
body {
background-color: #FEFAE0;
}

/*header*/
header {
background-color: #FFA500;
}
#logo {
    text-align: center;
}
header a {
    text-decoration: none;
}
h1 {
    font-family: Borel;
    color: #3a3a3a;
    font-size: 5em;
}
/*main content*/
main {
background-color:  #FEFAE0;
}

/*footer*/
footer {
background-color: #606C38;
}