@import url('https://fonts.googleapis.com/css2?family=Borel&family=Farsan&display=swap');

/*body*/
body {
background-color: #FEFAE0;
}

/*header*/
header {
background-color: #FFA500;
}
#menu {
    display: flex;
    font-size: 120%;
    list-style-type: none;
    margin-bottom: 1em;
    justify-content: center;
}
li {
    padding-right: 5%;
}
#logo {
    text-align: center;
}
header a {
    text-decoration: none;
}
h1 {
    font-family: Borel;
    color: #3a3a3a;
    font-size: 5em;
}
nav {
    padding: 1rem;
    box-sizing: border-box;
    margin-top: -7%;
}
nav a {
    padding: 5px 10px;
    text-decoration: none;
}
nav a:hover {
    color: #BC6C25;
}
/*main content*/
main {
background-color:  #FEFAE0;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
.osbeck {
    width: 70%;
    height: 200px;
}
.osbeck-photo {
    width: 30%;
    height: 200px;
}
.osbeck-photo img {
    width: 100%;
} 
.waterfall {
    width: 70%;
    height: 200px;
}
.waterfall-photo {
    width: 30%;
    height: 200px;
}
.waterfall-photo img {
    width: 100%;
}
.fishing {
    width: 70%;
    height: 200px;
}
stensån-photo {
    width: 30%;
    height: 200px;
}
stensån-photo img {
    width: 100%;
}

/*footer*/
footer {
background-color: #606C38;
height: 160px;
}
.social-networks {
    text-align: center;
}
.social-networks > li{
display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #ffffff;
}
.social-networks a {
    color: #ffffff;
}
@media screen and (max-width: 800px) {
    #logo {
        font-size: 2em;
    }
}
@media screen and (max-width: 280px) {
    #logo {
        font-size: 28px;
    }
}